* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    font-size: 13px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    background: rgb(129, 149, 255);
    background: -moz-linear-gradient(top, rgb(129, 149, 255) 0%, rgba(177, 113, 212, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(129, 149, 255)), color-stop(100%, rgba(177, 113, 212, 1)));
    background: -webkit-linear-gradient(top, rgb(129, 149, 255) 0%, rgba(177, 113, 212, 1) 100%);
    background: -o-linear-gradient(top, rgb(129, 149, 255) 0%, rgba(177, 113, 212, 1) 100%);
    background: -ms-linear-gradient(top, rgb(129, 149, 255) 0%, rgba(177, 113, 212, 1) 100%);
    background: linear-gradient(to bottom, rgb(129, 149, 255) 0%, rgba(177, 113, 212, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4f5b99', endColorstr='#b171d4', GradientType=0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor {
    background: #505fa5;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    align-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
}

.logonext {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100% flex: 1 1 100%
}

.logonext img {
    width: 200px;
}

.informacion {
    background: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100% flex: 1 1 100%
}

.informacion nav {
    background: #5594a7;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(85, 147, 166, 1)), color-stop(100%, rgb(80, 95, 165)));
    background: -webkit-linear-gradient(left, rgba(85, 147, 166, 1) 0%, rgb(80, 95, 165) 100%);
    background: linear-gradient(to right, rgba(85, 147, 166, 1) 0%, rrgb(80, 95, 165) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5593a6', endColorstr='#7487d6', GradientType=1);
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    flex: 1 1 100%;
    display: flex;
}

.informacion nav .aparc {
    display: flex;
}

.informacion nav a {
    color: #fff;
    text-decoration: none;
    padding: 30px;
    font-size: 16px;
    font-weight: 700;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.informacion nav a:hover {
    border-bottom: 5px solid #ff8383;
    padding-bottom: 25px;
}

.informacion .main {
    justify-content: center;
    align-items: center;
    background: #cfd8dc;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 70%;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
    flex-flow: row wrap;
    height: 550px;
}

.informacion .main #welcome {
    align-self: flex-end;
}

.informacion .main #saludo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-flow: row wrap;
}

.informacion .main #saludo > h2 {
    margin: 15px !important;
    color: #404040;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
}

.informacion .main #saludo > p {
    margin: 15px !important;
    color: #404040;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.informacion .main #tiempo {
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1 1 100%;
}

.informacion .main #listEstudiantes {
    display: flex;
    flex: 1;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.informacion .main .Estudian {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    flex-flow: column;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);
    margin: 20px;
}

.informacion .main .scroll {
    height: 500px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.informacion .main .boton {
    font-family: "Roboto";
    border: none;
    font-size: 18px;
    background-color: #d03939;
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    outline: 0;
}

.informacion .main .boton img {
    padding-right: 10px;
}

.informacion .main .indiv img {
    width: 50px;
    margin-right: 10px;
}

.indiv:nth-child(1) h2 {
    font-size: 16px;
    margin: 0;
}

.indiv:nth-child(1) p {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0 0;
}

.indiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid #e1e1e1;
    font-weight: 400;
    font-size: 14px;
}

.indiv p {
    display: flex;
    flex: 1;
    margin: 5px;
}

.indiv:nth-child(2) {
    font-weight: 500;
    padding: 15px;
}

.indiv span {
    margin: auto;
}

.indiv p:nth-child(2) {
    font-weight: 500;
}

.indiv:nth-child(1) {
    display: block;
    padding: 15px;
}

.informacion aside {
    background: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
    -webkit-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.10);
    box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.10);
}

aside #promedio,
#mayor,
#menor {
    display: flex;
}

aside .indiv2:nth-child(2n+1) {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    flex: 1;
}

aside .indiv2:nth-child(2) {
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
}

aside .indiv2 {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}

@media (max-width: 759px) {
    .contenedor {
        width: 100%;
    }
}